* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.App {
  border: black 1px solid;
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.steps {
  height: 300px;
  width: 700px;
  background: #f2f2f2;
  border-radius: 10px;
}

.numbers {
  display: flex;
  justify-content: space-around;
  padding: 40px;

}

.numbers > div {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* background: rgb(69, 92, 225); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
} 

.active {
    background: #E85D3D;
    color: white;

}

.inactive {
  background: white;
  color: black;
}

.message {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btns {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  padding: 20px;

}

.btns > button {
  padding: 10px;
  border-radius: 20px;
  background: #E85D3D;
  border: none;
  color: white;
  cursor: pointer;
}